@import 'common';

$T_color:#666666;
$White:#ffffff;
$Width:1200px;
$Twelve:12px;

/*top*/
.top{
    overflow:hidden;
    width:100%;
    height:33px;
    background:url(../img/bg_top.png) repeat-x;
    .middle{
        width:$Width;
        height:33px;
        margin:0 auto;
        p{
            float:left;
            font-size:$Twelve;
            color:$T_color;
            line-height:33px;
            a{
                color:$T_color;
                &:first-child{
                    margin-right:10px;
                }
            }
        }
        .left{
            float:right;
            line-height:33px;
            a{
                vertical-align: bottom;
                position:relative;
                display:inline-block;
                text-align:center;
                font-size:$Twelve;
                color:$T_color;
            }
            .account{
                width:69px;
                height:33px;
                padding-right:10px;
                border-right:1px solid transparent;
                border-left:1px solid transparent;
            }
            b{
                display:block;
                width:7px;
                height:4px;
                position:absolute;
                top:16px;
                right:346px;
                background:url(../img/All_bg.gif) no-repeat -252px -30px;
            }
            span{
                display:inline-block;
                width:1px;
                height:$Twelve;
                background:#dddddd;
                margin:0 10px;
            }
            i{
                position:relative;
                font-size:17px;
                margin-left:42px;
                margin-right:9px;
                color:#fd1a3a;
                p{
                    position:absolute;
                    top:5px;
                    right:123px;
                    width:16px;
                    height:13px;
                    background:url(../img/All_bg.gif) no-repeat -269px -30px;
                }
            }
        }
    }
    ul{
        background:$White;
        z-index:1;
        display:none;
        position:absolute;
        right:338px;
        width:79px;
        border:1px solid #dcdcdc;
        border-top:none;
        li{
            margin:4px 9px;
            line-height:17px;
            font-size:$Twelve;
            a{
                color:$T_color;
                &:hover{
                    text-decoration: underline;
                    color:#ff1a3a;
                }
            }
        }
    }
}
/*head*/
.head{
    clear:both;
    width:100%;
    height:90px;
    .middle{
        width:$Width;
        height:90px;
        margin:0 auto;
        .left{
            float:left;
            width:355px;
            margin:18px 0 0 35px;
        }
        .center{
            position:relative;
            float:left;
            width:650px;
            .search-frame{
                position:relative;
                margin-top:22px;
                width:428px;
                height:30px;
                border:2px solid #02a3f0;
                input{
                    font-size:14px;
                    color:$T_color;
                    width:341px;
                    height:14px;
                    padding:8px 10px;
                    border:none;
                    outline:none;
                }
                strong{
                    display:inline-block;
                    width:67px;
                    height:30px;
                    background:#02a3f0;
                    vertical-align:bottom;
                    text-align:center;
                    line-height:30px;
                    color:$White;
                    cursor: pointer;
                }
                a{
                    display:none;
                    position:absolute;
                    top:4px;
                    right:77px;
                    color:$T_color;
                }
            }
            .search{
                font-size:$Twelve;
                color:$T_color;
                a{
                    margin:0 3px;
                    line-height:30px;
                    color:$T_color;
                    &:hover{
                        text-decoration: underline;
                        color:#ff1a3a;
                    }
                }
                .red{
                    color:#ff1a3a;
                }
            }
            .code{
                position:absolute;
                top:5px;
                left:504px;
                width:80px;
                height:80px;
                background:url(../img/H_n1.png) no-repeat;
            }
            ul{
                z-index: 1;
                display:none;
                position:absolute;
                top:5px;
                right:10px;
                width:180px;
                height:167px;
                padding:5px;
                background:$White;
                border:1px solid #999999;
                font-size:$Twelve;
                color:$T_color;
                box-shadow:3px 3px 8px #bfbfbf;
                .pic1{
                    border-bottom:1px solid #cccccc;
                    position:relative;
                    background:url(../img/H_n1.png) no-repeat;
                    height:80px;
                    padding-bottom:5px;
                    strong{
                        position:absolute;
                        left:90px;
                    }
                    p{
                        position:absolute;
                        left:90px;
                        .one{
                            position:absolute;
                            top:23px;
                            left:32px;
                            width:25px;
                            height:25px;
                            background:url(../img/H_n3.png) no-repeat left top;
                        }
                        .two{
                            position:absolute;
                            top:23px;
                            width:25px;
                            height:25px;
                            background:url(../img/H_n3.png) no-repeat left -26px;
                       }
                    }
                }
                .pic2{
                    background:url(../img/H_n2.jpg) no-repeat;
                    height:80px;
                    padding-top:5px;
                    strong{
                        position:absolute;
                        left:90px;
                    }
                }
            }
        }
        .right{
            position:absolute;
            top:53px;
            right:40px;
            width:196px;
            height:43px;
            font-size:$Twelve;
            color:$T_color;
            line-height:44px;
            text-align: center;
            cursor: pointer;
            background:url(../img/All_bg.gif) no-repeat left -31px;
            strong{
                color:#ff1a3a;
                margin:0 5px;
            }
            .none{
                display:none;
                p{
                    position:absolute;
                    top:42px;
                    right:2px;
                    width:290px;
                    height:54px;
                    border:1px solid #dfdfdf;
                    background:$White;
                    border-top:none;
                }
                .empty{
                    position: absolute;
                    left: -99px;
                    top: 31px;
                    width:122px;
                    height:10px;
                    border-bottom:1px solid #dfdfdf;
                }
            }
        }
    }
}
/*nav*/
.nav{
    width:100%;
    height:40px;
    background:url(../img/bg_nav.png) repeat-x;
    .middle{
        width:$Width;
        height:40px;
        margin:0 auto;
        p{
            float: left;
            width:230px;
            line-height:40px;
            text-align: center;
            font-size:16px;
            color:$White;
            background:url(../img/All_bg.gif) no-repeat left -117px;
        }
        ul{
            margin-left: 244px;
            li{
                display:inline-block;
                line-height: 40px;
                background: url(../img/bg_navs.png) no-repeat left center;
            }
            a{
                color:$White;
                margin:0 28px;
            }
            .BLUE{
                background:none;
            }
            .blue:hover{
                color:#2ad0ff;
            }
            .red{
                color:#ff1a3a;
            }
        }
    }
}
/*banner*/
.carousel{
    position:relative;
    width:100%;
    height:400px;
    margin-bottom:6px;
    .bg{
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:400px;
        .bg_blue{
            @extend .bg;
            background:#b5e2ff;
            opacity: 1;
            filter: alpha(opacity=100);
            display: block;
        }
        .bg_pink{
            @extend .bg;
            background:#feeaf3;
            opacity: 0;
            filter: alpha(opacity=0);
            display: none;
        }
    }
    .middle{
        position:relative;
        width:$Width;
        height:400px;
        margin:0 auto;
        .banner{
            a{
                position:absolute;
                left:230px;
                opacity: 1;
                filter: alpha(opacity=100);
                display: block;
                &:last-child{
                    opacity: 0;
                    filter: alpha(opacity=0);
                    display: none;
                }
            }
        }
        .banner1{
            .pic{
                position:relative;
                margin-top:4px;
                margin-right:6px;
                float:right;
                opacity: 1;
                filter: alpha(opacity=100);
                display: block;
                img{
                    display:block;
                }
            }
            .pic1{
                position: absolute;
                top:0;
                right:0;
                opacity: 0;
                filter: alpha(opacity=0);
                display: none;
            }
        }
        ul{
            position:absolute;
            bottom:10px;
            left:240px;
            li{
                display:inline-block;
                text-align: center;
                width:22px;
                line-height:22px;
                border-radius:50%;
                background:#e8e8e8;
                color:#84669a;
                cursor: pointer;
            }
            .btn{
                background:#00b5ff;
            }
        }
    }
}
.choose{
    position:absolute;
    top:163px;
    left:32px;
    width:230px;
    // height:616px;
    border-left:1px solid #e7e7e7;;
    dl{
        width:230px;
        position: relative;
        dt{
            background:#f8f8f8;
            position: relative;
            padding:12px 0 11px 18px;
            border:1px solid #e7e7e7;
            border-top:none;
            border-top:1px solid transparent;
            border-left:2px solid transparent;
            &:hover{
                z-index: 2;
                border-top:1px solid #bdbdbd;
                border-bottom:1px solid #bdbdbd;
                border-left:2px solid #00adff;
                border-right:1px solid transparent;
            }
            strong{
                position: relative;
                a{
                    color:#333333;
                    font-size: 14px;
                }
            }
            p{
                a{
                    color:$T_color;
                    font-size: $Twelve;
                    margin-right:9px;
                    &:hover{
                        color:#0098e0;
                    }
                }
                .A{
                    color:#ff1a3a !important;
                }
            }
            b{
                position: absolute;
                top:25px;
                right:15px;
                display:block;
                width:6px;
                height:9px;
                background: url(../img/All_bg.gif) no-repeat -310px -30px;
            }
        }
        .panel{
            display: none;
            position: absolute;
            top: -150%;
            left: 229px;
            width:650px;
            background:$White;
            border: 1px solid #bdbdbd;
            ul{
                width:380px;
                padding:0 20px;
                float: left;
                li{
                    border-bottom:1px dashed #cccccc;
                    padding:10px 0;
                    overflow:hidden;
                    strong{
                        width:70px;
                        font-size: $Twelve;
                        float:left;
                        margin-top:5px;
                        a{
                            color:#444444;
                        }
                    }
                    .product{
                        font-size: $Twelve;
                        line-height:22px;
                        margin-left:70px;
                        a{
                            color:$T_color;
                            margin-right:14px;
                            &:hover{
                                color:#0098e0;
                            }
                        }
                    }
                }
            }
            .hot{
                float:right;
                width:200px;
                background:#f8f8f8;
                padding:15px;
                margin-bottom:7px;
                h4{
                    font-size: $Twelve;
                    color:$T_color;
                    line-height: 30px;
                    border-bottom: 1px solid $T_color;
                }
                ul{
                    margin-top:10px;
                    margin-bottom:10px;
                    width:200px;
                    padding:0;
                    li{
                        float:left;
                        width:100px;
                        margin:0;
                        padding:0;
                        border-bottom:none;
                        a{
                            display:inline-block;
                            font-size: $Twelve;
                            color:$T_color; 
                            line-height: 22px;
                            &:hover{
                                color:#0098e0;
                            }
                        }
                        .red{
                            color:#ff1a3a !important;
                        }
                    }
                }
            }
        }
    }
}
/*banner_bottom*/
.voice{
    margin-left:272px;
    margin-bottom:8px;
    background:url(../img/All_bg.gif) no-repeat -409px -30px;
    a{
        vertical-align: text-bottom;
        font-size: $Twelve;
        color:$T_color;
        line-height:19px;
        margin-left:25px;
        &:hover{
            text-decoration: underline;
        }
    }
}
.pic{
    margin-left:272px;
    margin-bottom:30px;
    a{
        img{
            margin-right:10px;
        }
    }
}
/*limit_buy*/
.limit_buy{
    width:100%;
    .middle{
        width:$Width;
        margin:0 auto;
        .word{
            width:100%;
            padding-bottom:8px;
            border-bottom:2px solid #ff8c8f;
            margin-bottom:10px;
        }
        a{
            position: relative;
            display:block;
            width:287px;
            height:400px;
            border:1px solid #e4e4e4;
            padding:1px;
            &:hover{
                border-color: #fd1d5b;
            }
            .clock{
                width:214px;
                height:38px;
                line-height: 38px;
                padding-left:73px;
                font-size: $Twelve;
                color:$T_color;
                background:#f8f7f5 url(../img/clock.jpg) no-repeat 33px 5px;
                b{
                    strong{
                        font-size: 20px;
                        color:#ff1a3a;
                        margin-right:5px;
                    }
                }
            }
            img{
                width:260px;
                height:260px;
                margin:13px;
            }
            .article{
                font-size: $Twelve;
                color:$T_color;
                padding:0 13px;
            }
            .price{
                position:absolute;
                top:362px;
                left:-1px;
                width:271px;
                height:55px;
                font-size:18px;
                color:$White;
                padding-top:10px;
                padding-left:20px;
                background:url(../img/buy.jpg) no-repeat;
                span{
                    font-size:30px;
                    font-weight:bold;
                }
            }
            .buy{

            }
        }
    }
}