@import 'common';

$T_color:#666666;
$White:#ffffff;
$Width:1200px;
$Twelve:12px;

/*fix*/
.kfbox{
    position: fixed;
    width: 58px;
    bottom: 8px;
    margin-left: 1195px;
    z-index: 4;
    dl{
        font-size: 12px;
        color: #444;
        width: 56px;
        background: #fff;
        border: 1px solid #eee;
        padding: 8px 0;
        text-align: center;
        cursor: pointer;
        height:45px;
        dt{
            width: 22px;
            height: 21px;
            overflow: hidden;
            background: url(../img/fix_bg.jpg) no-repeat 0 -24px;
            margin: 0 auto;
        }
        dd{
            margin-top: 8px;
        }
        .kf{
            dt{
                width: 22px;
                height: 24px;
                overflow: hidden;
                background: url(../img/fix_bg.jpg) no-repeat 0 0;
                margin: 0 auto;
            }
        }
    }
}
/*top*/
.top{
    overflow:hidden;
    width:100%;
    height:33px;
    background:url(../img/bg_top.png) repeat-x;
    .middle{
        width:$Width;
        height:33px;
        margin:0 auto;
        p{
            float:left;
            font-size:$Twelve;
            color:$T_color;
            line-height:33px;
            a{
                color:$T_color;
                &:first-child{
                    margin-right:10px;
                }
            }
        }
        .left{
            float:right;
            line-height:33px;
            a{
                vertical-align: bottom;
                position:relative;
                display:inline-block;
                text-align:center;
                font-size:$Twelve;
                color:$T_color;
            }
            .account{
                width:69px;
                height:33px;
                padding-right:10px;
                border-right:1px solid transparent;
                border-left:1px solid transparent;
            }
            b{
                display:block;
                width:7px;
                height:4px;
                position:absolute;
                top:16px;
                right:346px;
                background:url(../img/All_bg.gif) no-repeat -252px -30px;
            }
            span{
                display:inline-block;
                width:1px;
                height:$Twelve;
                background:#dddddd;
                margin:0 10px;
            }
            i{
                position:relative;
                font-size:17px;
                margin-left:42px;
                margin-right:9px;
                color:#fd1a3a;
                p{
                    position:absolute;
                    top:5px;
                    right:123px;
                    width:16px;
                    height:13px;
                    background:url(../img/All_bg.gif) no-repeat -269px -30px;
                }
            }
        }
    }
    ul{
        background:$White;
        z-index:1;
        display:none;
        position:absolute;
        right:338px;
        width:79px;
        border:1px solid #dcdcdc;
        border-top:none;
        li{
            margin:4px 9px;
            line-height:17px;
            font-size:$Twelve;
            a{
                color:$T_color;
                &:hover{
                    text-decoration: underline;
                    color:#ff1a3a;
                }
            }
        }
    }
}
/*head*/
.head{
    clear:both;
    width:100%;
    height:90px;
    .middle{
        width:$Width;
        height:90px;
        margin:0 auto;
        .left{
            float:left;
            width:355px;
            margin:18px 0 0 35px;
        }
        .center{
            position:relative;
            float:left;
            width:650px;
            .search-frame{
                position:relative;
                margin-top:22px;
                width:428px;
                height:30px;
                border:2px solid #02a3f0;
                input{
                    font-size:14px;
                    color:$T_color;
                    width:341px;
                    height:14px;
                    padding:8px 10px;
                    border:none;
                    outline:none;
                }
                strong{
                    display:inline-block;
                    width:67px;
                    height:30px;
                    background:#02a3f0;
                    vertical-align:bottom;
                    text-align:center;
                    line-height:30px;
                    color:$White;
                    cursor: pointer;
                }
                a{
                    display:none;
                    position:absolute;
                    top:4px;
                    right:77px;
                    color:$T_color;
                }
            }
            .search{
                font-size:$Twelve;
                color:$T_color;
                a{
                    margin:0 3px;
                    line-height:30px;
                    color:$T_color;
                    &:hover{
                        text-decoration: underline;
                        color:#ff1a3a;
                    }
                }
                .red{
                    color:#ff1a3a;
                }
            }
            .code{
                position:absolute;
                top:5px;
                left:504px;
                width:80px;
                height:80px;
                background:url(../img/H_n1.png) no-repeat;
            }
            ul{
                z-index: 1;
                display:none;
                position:absolute;
                top:5px;
                right:10px;
                width:180px;
                height:167px;
                padding:5px;
                background:$White;
                border:1px solid #999999;
                font-size:$Twelve;
                color:$T_color;
                box-shadow:3px 3px 8px #bfbfbf;
                .pic1{
                    border-bottom:1px solid #cccccc;
                    position:relative;
                    background:url(../img/H_n1.png) no-repeat;
                    height:80px;
                    padding-bottom:5px;
                    strong{
                        position:absolute;
                        left:90px;
                    }
                    p{
                        position:absolute;
                        left:90px;
                        .one{
                            position:absolute;
                            top:23px;
                            left:32px;
                            width:25px;
                            height:25px;
                            background:url(../img/H_n3.png) no-repeat left top;
                        }
                        .two{
                            position:absolute;
                            top:23px;
                            width:25px;
                            height:25px;
                            background:url(../img/H_n3.png) no-repeat left -26px;
                       }
                    }
                }
                .pic2{
                    background:url(../img/H_n2.jpg) no-repeat;
                    height:80px;
                    padding-top:5px;
                    strong{
                        position:absolute;
                        left:90px;
                    }
                }
            }
        }
        .right{
            position:absolute;
            top:53px;
            right:40px;
            width:196px;
            height:43px;
            font-size:$Twelve;
            color:$T_color;
            line-height:44px;
            text-align: center;
            cursor: pointer;
            background:url(../img/All_bg.gif) no-repeat left -31px;
            strong{
                color:#ff1a3a;
                margin:0 5px;
            }
            .none{
                display:none;
                p{
                    position:absolute;
                    top:42px;
                    right:2px;
                    width:290px;
                    height:54px;
                    border:1px solid #dfdfdf;
                    background:$White;
                    border-top:none;
                }
                .empty{
                    position: absolute;
                    left: -99px;
                    top: 31px;
                    width:122px;
                    height:10px;
                    border-bottom:1px solid #dfdfdf;
                }
            }
        }
    }
}
/*nav*/
.nav{
    width:100%;
    height:40px;
    overflow:hidden;
    z-index: 3;
    background:url(../img/bg_nav.png) repeat-x;
    .middle{
        width:$Width;
        height:40px;
        margin:0 auto;
        p{
            float: left;
            width:230px;
            line-height:40px;
            text-align: center;
            font-size:16px;
            color:$White;
            background:url(../img/All_bg.gif) no-repeat left -117px;
        }
        ul{
            margin-left: 244px;
            li{
                display:inline-block;
                line-height: 40px;
                background: url(../img/bg_navs.png) no-repeat left center;
            }
            a{
                color:$White;
                margin:0 28px;
            }
            .BLUE{
                background:none;
            }
            .blue:hover{
                color:#2ad0ff;
            }
            .red{
                color:#ff1a3a;
            }
        }
    }
}
/*banner*/
.carousel{
    position:relative;
    width:100%;
    height:400px;
    margin-bottom:6px;
    .bg{
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:400px;
        .bg_blue{
            @extend .bg;
            background:#b5e2ff;
            opacity: 1;
            filter: alpha(opacity=100);
            display: block;
        }
        .bg_pink{
            @extend .bg;
            background:#feeaf3;
            opacity: 0;
            filter: alpha(opacity=0);
            display: none;
        }
    }
    .middle{
        position:relative;
        width:$Width;
        height:400px;
        margin:0 auto;
        .banner{
            a{
                position:absolute;
                left:230px;
                opacity: 1;
                filter: alpha(opacity=100);
                display: block;
                &:last-child{
                    opacity: 0;
                    filter: alpha(opacity=0);
                    display: none;
                }
            }
        }
        .banner1{
            .pic{
                position:relative;
                margin-top:4px;
                margin-left:6px;
                float:right;
                opacity: 1;
                filter: alpha(opacity=100);
                display: block;
                img{
                    display:block;
                }
            }
            .pic1{
                position: absolute;
                top:0;
                right:0;
                opacity: 0;
                filter: alpha(opacity=0);
                display: none;
            }
        }
        ul{
            position:absolute;
            bottom:10px;
            left:240px;
            li{
                display:inline-block;
                text-align: center;
                width:22px;
                line-height:22px;
                border-radius:50%;
                background:#e8e8e8;
                color:#84669a;
                cursor: pointer;
            }
            .btn{
                background:#00b5ff;
            }
        }
    }
}
.choose{
    position:absolute;
    top:163px;
    left:32px;
    width:230px;
    box-shadow: 0 3px 0 #e0dfdf;
    border-left:1px solid #e7e7e7;;
    dl{
        width:230px;
        position: relative;
        dt{
            background:#f8f8f8;
            position: relative;
            padding:12px 0 11px 18px;
            border:1px solid #e7e7e7;
            border-top:none;
            border-top:1px solid transparent;
            border-left:2px solid transparent;
            &:hover{
                z-index: 2;
                border-top:1px solid #bdbdbd;
                border-bottom:1px solid #bdbdbd;
                border-left:2px solid #00adff;
                border-right:1px solid transparent;
            }
            strong{
                position: relative;
                a{
                    color:#333333;
                    font-size: 14px;
                }
            }
            p{
                a{
                    color:$T_color;
                    font-size: $Twelve;
                    margin-right:9px;
                    &:hover{
                        color:#0098e0;
                    }
                }
                .A{
                    color:#ff1a3a !important;
                }
            }
            b{
                position: absolute;
                top:25px;
                right:15px;
                display:block;
                width:6px;
                height:9px;
                background: url(../img/All_bg.gif) no-repeat -310px -30px;
            }
        }
        .panel{
            z-index: 1;
            display: none;
            position: absolute;
            top: -150%;
            left: 229px;
            width:650px;
            background:$White;
            border: 1px solid #bdbdbd;
            ul{
                width:380px;
                padding:0 20px;
                float: left;
                li{
                    border-bottom:1px dashed #cccccc;
                    padding:10px 0;
                    overflow:hidden;
                    strong{
                        width:70px;
                        font-size: $Twelve;
                        float:left;
                        margin-top:5px;
                        a{
                            color:#444444;
                        }
                    }
                    .product{
                        font-size: $Twelve;
                        line-height:22px;
                        margin-left:70px;
                        a{
                            color:$T_color;
                            margin-right:14px;
                            &:hover{
                                color:#0098e0;
                            }
                        }
                    }
                }
            }
            .hot{
                float:right;
                width:200px;
                background:#f8f8f8;
                padding:15px;
                margin-bottom:7px;
                h4{
                    font-size: $Twelve;
                    color:$T_color;
                    line-height: 30px;
                    border-bottom: 1px solid $T_color;
                }
                ul{
                    margin-top:10px;
                    margin-bottom:10px;
                    width:200px;
                    padding:0;
                    li{
                        float:left;
                        width:100px;
                        margin:0;
                        padding:0;
                        border-bottom:none;
                        a{
                            display:inline-block;
                            font-size: $Twelve;
                            color:$T_color; 
                            line-height: 22px;
                            &:hover{
                                color:#0098e0;
                            }
                        }
                        .red{
                            color:#ff1a3a !important;
                        }
                    }
                }
            }
        }
    }
}
/*banner_bottom*/
.voice{
    margin-left:272px;
    margin-bottom:8px;
    background:url(../img/All_bg.gif) no-repeat -409px -30px;
    a{
        vertical-align: text-bottom;
        font-size: $Twelve;
        color:$T_color;
        line-height:19px;
        margin-left:25px;
        &:hover{
            text-decoration: underline;
        }
    }
}
.pic{
    margin-left:272px;
    margin-bottom:30px;
    a{
        img{
            margin-right:10px;
        }
    }
}
/*limit_buy*/
.limit_buy{
    width:100%;
    .middle{
        overflow:hidden;
        width:$Width;
        margin:0 auto;
        padding-bottom: 53px;
        border-bottom:1px solid #e4e4e4;
        .word{
            width:100%;
            padding-bottom:8px;
            border-bottom:2px solid #ff8c8f;
            margin-bottom:10px;
        }
        a{
            float: left;
            position: relative;
            display:block;
            width:287px;
            height:400px;
            border:1px solid #e4e4e4;
            padding:1px;
            margin-right:12px;
            &:hover{
                border-color: #fd1d5b;
            }
            .clock{
                width:214px;
                height:38px;
                line-height: 38px;
                padding-left:73px;
                font-size: $Twelve;
                color:$T_color;
                background:#f8f7f5 url(../img/clock.jpg) no-repeat 33px 5px;
                strong{
                    font-size: 20px;
                    color:#ff1a3a;
                    margin:0 2px;
                }
            }
            img{
                width:260px;
                height:260px;
                margin:13px;
            }
            .article{
                font-size: $Twelve;
                color:$T_color;
                padding:0 13px;
            }
            .price{
                position:absolute;
                top:362px;
                left:-1px;
                width:271px;
                height:55px;
                font-size:18px;
                color:$White;
                padding-top:10px;
                padding-left:20px;
                background:url(../img/buy.jpg) no-repeat;
                span{
                    font-size:30px;
                    font-weight:bold;
                }
            }
            .buy{
                position: absolute;
                top:424px;
                right:10px;
                color:$T_color;
                font-size: $Twelve;
                strong{
                    color:#ff1a3a;
                    padding-bottom: 16px;
                    padding-right:4px;
                    font-weight: bold;
                }
            }
        }
        .last{
            margin-right:0;
        }
    }
}
/*goods*/
.goods{
    width:100%;
    .middle{
        width:$Width;
        margin:0 auto;
        ul{
            width:100%;
            height:60px;
            background:url(../img/bg_goods.png) repeat-x;
            border-bottom:2px solid #d0d0d0;
            li{
                position: relative;
                float: left;
                width:235px;
                height:28px;
                padding-top:32px;
                text-align: center;
                font-weight: bold;
                font-size: 18px;
                color:#333333;
                border-bottom:2px solid #d0d0d0;
                background: url(../img/bg_goods1.png) no-repeat bottom right;
                span{
                    position: absolute;
                    bottom:0;
                    left:50%;
                    display:block;
                    width:0;
                    height:0;
                    border:4px solid transparent;
                }
            }
            .hover{
                border-bottom-color: #0094ff;
                span{
                    border-bottom-color: #0094ff;
                }
            }
            .last{
                background:none;
            }
        }
        .act{
            display:none;
        }
        .panel{
            overflow:hidden;
            width:100%;
            padding-top:20px;
            border-bottom:1px solid #e4e4e4;
            .left{
                width:238px;
                height:374px;
                float:left;
                border-right:1px solid #f1f1f1;
                font-size: 14px;
                a{
                    color:$T_color;
                    line-height: 18px;
                }
                .two{
                    padding-left:13px;
                }
                .three{
                    padding-left:13px;
                }
                .red{
                    width:210px;
                    display:block;
                    color:#ff1a3a;
                    padding-top:10px;
                    padding-left:13px;
                }
                p{
                    color:#ff1a3a;
                    margin-top:40px;
                    padding-left:16px;
                    strong{
                        font-weight: bold;
                        font-size: 18px;
                        span{
                            font-size: $Twelve;
                        }
                    }
                }
            }
            .center{
                width:479px;
                height:401px;
                float:left;
                border-right:1px solid #f1f1f1;
                .center_1{
                    width:239px;
                    height:210px;
                    float:left;
                    border-right: 1px solid #f1f1f1;
                    img{
                        width:150px;
                        height:150px;
                        padding:0 45px;
                        margin-top:5px;
                    }
                    .two{
                        padding-left:13px;
                        color:$T_color;
                        font-size: 14px;
                    }
                    p{
                        color:#ff1a3a;
                        padding-left:13px;
                        strong{
                            font-weight: bold;
                            font-size: 18px;
                        }
                        span{
                            font-size:$Twelve;
                        }
                    }
                }
                .center_2{
                    border-right:none;
                    .two{
                        margin-top:10px;
                    }
                }
                .center_3{
                    clear: both;
                    width:459px;
                    height:180px;
                    padding-top:10px;
                    padding-left:20px;
                    border-top:1px solid #f1f1f1;
                    img{
                        padding-right:20px;
                        float: left;
                    }
                    a{
                        color:$T_color;
                        line-height: 18px;
                        font-size: 14px;
                    }
                    .two{
                        padding-left:13px;
                    }
                    .three{
                        padding-left:13px;
                    }
                    .red{
                        width:210px;
                        display:block;
                        color:#ff1a3a;
                        padding-top:10px;
                        padding-left:212px;
                    }
                    p{
                        color:#ff1a3a;
                        margin-top:40px;
                        padding-left:212px;
                        strong{
                            font-weight: bold;
                            font-size: 18px;
                        }
                        span{
                            font-size:$Twelve;
                        }
                    }
                }
            }
            .single{
                width:238px;
                height:389px;
                float:left;
                border-right:1px solid #f1f1f1;
                a{
                    color:$T_color;
                    line-height: 18px;
                    font-size: 14px;
                }
                .two{
                    padding-left:13px;
                }
                .three{
                    padding-left:13px;
                }
                .red{
                    width:210px;
                    display:block;
                    color:#ff1a3a;
                    padding-top:10px;
                    padding-left:16px;
                }
                p{
                    color:#ff1a3a;
                    margin-top:40px;
                    padding-left:16px;
                    strong{
                        font-weight: bold;
                        font-size: 18px;
                    }
                    span{
                        font-size:$Twelve;
                    }
                }
            }
            .cend{
                overflow:hidden;
                width:239px;
                height:411px;
                float:left;
                margin-bottom:5px;
                .up{
                    width:239px;
                    height:205px;
                    border-bottom:1px solid #f1f1f1;
                    img{
                        width:150px;
                        height:150px;
                        padding:0 45px;
                        margin-top:5px;
                    }
                    .two{
                        padding-left:13px;
                        color:$T_color;
                        font-size: 14px;
                    }
                    p{
                        color:#ff1a3a;
                        padding-left:13px;
                        strong{
                            font-weight: bold;
                            font-size: 18px;
                        }
                        span{
                            font-size:$Twelve;
                        }
                    }
                }
            }
        }
        .active{
            display:block;
        }
        .star{
            overflow:hidden;
            width:100%;
            padding-top:18px;
            border-bottom:1px solid #e4e4e4;
            padding-bottom:2px;
            .upper{
                width:228px;
                height:416px;
                float: left;
                font-size: $Twelve;
                margin-right:15px;
                a{
                    img{
                        display:block;
                        margin-bottom:15px;
                    }
                }
                .A{
                    color:#444444;
                }
                .B{
                    font-weight: bold;
                    color:#666695;
                }
                p{
                    margin-top:14px;
                    .C{
                        color:#0099ff;
                        padding-left:29px;
                        line-height: 18px;
                        background:url(../img/goods_p2_bg.jpg) no-repeat 5px 0;
                        background-size:15px;
                    }
                }
            }
            .lower{
                position:relative;
                img{
                    position: absolute;
                    bottom:-15px;
                    left:0;
                }
            }
            .yes{
                margin-right:0;
            }
        }
        .hot{
            overflow:hidden;
            width:100%;
            padding-top:18px;
            border-bottom:1px solid #e4e4e4;
            .candy{
                width:206px;
                height:394px;
                box-shadow: 0 3px 0 #ededed;
                border:1px solid #ededed;
                border-bottom:3px solid #ededed;
                background:#f6f6f6;
                padding:10px;
                font-size: $Twelve;
                float:left;
                margin-right:15px;
                img{
                    display:block;
                    padding:13px;
                    background:$White;
                    margin-bottom:21px;
                }
                a{
                    display:block;
                    color:#444444;
                }
                .a{
                    display:block;
                    padding-bottom:8px;
                    border-bottom: 1px solid #d1d1d1;
                }
                p{
                    overflow:hidden;
                    font-size: $Twelve;
                    height:28px;
                    color:#999999;
                    padding:0 3px;
                    margin-top:13px;
                    span{
                        color:#0099ff;
                        padding-right:8px;
                    }
                }
            }
            .last{
                margin-right:0;
            }
        }
    }
}
/*act*/
.act{
    width:100%;
    .middle{
        width:$Width;
        margin:0 auto;
        .brand{
            width:100%;
            padding-top:32px;
            overflow:hidden;
            border-bottom:2px solid #d0d0d0;
            strong{
                float:left;
                font-size: 18px;
                color:#333333;
                font-weight: bold;
                padding-left:2px;
                padding-bottom:10px;
            }
            p{
                font-size: $Twelve;
                vertical-align: bottom;
                margin-left:835px;
                a{
                    color:$T_color;
                }
                span{
                    display:inline-block;
                    padding: 0 15px;
                    width:1px;
                    height:12px;
                    background:url(../img/act_bg.png) no-repeat center;
                }
            }
        }
        .PIC{
            width:100%;
            margin-top:10px;
            a{
                img{
                    width:236px;
                    height:300px;
                }
            }
        }
    }
}
/*skin*/
/*make_up*/
/*body*/
.skin{
    width:100%;
    margin-top:24px;
    .middle{
        width:$Width;
        margin:0 auto;
        .care{
            border-bottom: 2px solid #0094ff;
            margin-bottom:10px;
            overflow:hidden;
            img{
                float:left;
                margin-left:2px;
            }
            p{
                font-size: $Twelve;
                line-height: 40px;
                margin-right:16px;
                float:right;
                a{
                    color:$T_color;
                }
                .red{
                    color:#ff1a3a;
                }
                span{
                    display:inline-block;
                    width:1px;
                    height:12px;
                    padding:0 15px;
                    background:url(../img/act_bg.png) no-repeat center;
                }
            }
        }
        .skin_middle{
            overflow:hidden;
            float: left;
            border-bottom:1px solid #e4e4e4;
            .skin_one{
                width:268px;
                height:480px;
                float:left;
            }
            .skin_two{
                float:left;
                ul{
                    width:343px;
                    height:180px;
                    float:left;
                    padding:7px 0 14px 0;
                    border-right:1px solid #f1f1f1;
                    li{
                        font-size: 14px;
                        a{
                            float:left;
                            img{
                                float:left;
                                padding:0 5px;
                            }
                        }
                        .b{
                            color:$T_color;
                            width:150px;
                        }
                        .c{
                            width:150px;
                            color:#000000;
                            margin-bottom:30px;
                        }
                        .e{
                            margin-top:28px;
                        }
                        .d{
                            margin-bottom:10px;
                        }
                        p{
                            color:#ff1a3a;
                            margin-top:40px;
                            padding-left:16px;
                            strong{
                                font-weight: bold;
                                font-size: 18px;
                                span{
                                    font-size: $Twelve;
                                }
                            }
                        }
                    }
                }
                .T_2{
                    border-right:none;
                    .d{
                        white-space:nowrap;
                        overflow:hidden;
                    }
                }
                .low{
                    clear:both;
                    width:100%;
                    height:273px;
                    border-top:1px solid #f1f1f1;
                    font-size: 14px;
                    p{
                        overflow:hidden;
                        width:181px;
                        height:259px;
                        float:left;
                        padding:15px 24px 0 24px;
                        border-right: 1px solid #f1f1f1;
                        .f{
                            display:inline-block;
                            overflow:hidden;
                            color:$T_color;
                            width:180px;
                            white-space: nowrap;
                        }
                        .g{
                            color:#000000;
                        }
                        i{
                            display:block;
                            line-height:20px;
                            font-style: normal;
                            color:#ff1a3a;
                            margin-top:18px;
                            strong{
                                font-weight: bold;
                                font-size: 18px;
                                span{
                                    font-size: $Twelve;
                                }
                            }
                        }
                    }
                    .last{
                        border-right:none;
                    }
                }
            }
            .skin_right{
                float:right;
                width:218px;
                height:480px;
                margin-left:24px;
                h2{
                    font-size: 16px;
                    color: #ff1a3a;
                    text-align: center;
                    line-height: 32px;
                    border-bottom: 2px solid #d0d0d0;
                }
                ul{
                    .m{
                        .toplist{
                            display:none;
                        }
                        .hover{
                            display:block;
                        }
                    }
                    li{
                        .toplist{
                            display:block;
                            line-height: 42px;
                            width:202px;
                            font-size: $Twelve;
                            color:$T_color;
                            padding:0 8px;
                            border-bottom: 1px solid #e4e4e4;
                            background:url(../img/skin_num.jpg) no-repeat 7px 13px;
                            white-space: nowrap;
                            overflow: hidden;
                            .num{
                                display:block;
                                float:left;
                                width:22px;
                                height:42px;
                                color:#ff1a3a;
                                padding-left:5px;
                                font-weight: bold;
                            }
                        }
                        .hover{
                            display:none;
                            width:176px;
                            height:204px;
                            padding:13px 21px;
                            border-bottom: 1px solid #e4e4e4;
                            a{
                                display:block;
                                width:176px;
                                overflow:hidden;
                                white-space: nowrap;
                                line-height: 28px;
                                font-size:$Twelve;
                                color:$T_color;
                                font-weight: bold;
                                text-align: center;
                            }
                            .price{
                                display:block;
                                color:#ff1a3a;
                                font-size: 14px;
                                text-align: center;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }
        .skin_log{
            overflow:hidden;
            width:98%;
            height:57px;
            border-bottom:1px solid #e4e4e4;
            padding:0 12px;
            a{
                display:inline-block;
                margin:11px 9px;
            }
        }
    }
}
/*perfume*/
.skin{
    .middle{
        .skin_middle{
            .perfume_left{
                float:left;
                margin-right:1px;
            }
            .perfume_center{
                float:left;
                margin-right:1px;
                .center_bottom{
                    margin-top:1px;
                    .q{
                        margin-right:1px;
                    }
                }
            }
            .perfume_right{
                float:left;
            }
        }
    }
}
/*man*/
.skin{
    .middle{
        .skin_middle{
            .man_left{
                float:left;
                .man_left_top{
                    .man_left_top1{
                        width:184px;
                        height:227px;
                        padding:6px 10px;
                        float:left;
                        border-right: 1px solid #f1f1f1;
                        border-bottom: 1px solid #f1f1f1;
                        text-align: center;
                        .man_word{
                            font-size: 14px;
                            color:$T_color;
                        }
                        span{
                            font-size: 14px;
                            color:#ff1a3a;
                            font-weight: bold;
                            i{
                                font-style: normal;
                                font-weight: normal;
                                font-size: $Twelve;
                            }
                        }
                    }
                    .man_left_top2{
                        border-right:none;
                    }
                    .w{
                        border-bottom:none;
                    }
                }
            }
            .man_middle{
                float:left;
            }
        }
    }
}
/*add*/
.add{
    width:100%;
    overflow:hidden;
    border-bottom:1px solid #e1e1e1;
    padding-bottom:31px;
    .middle{
        width:$Width;
        margin:0 auto;
        padding-top:25px;
        .add_left{
            width:765px;
            height:478px;
            border:1px solid #e4e4e4;
            border-top:2px solid #d0d0d0;
            padding:1px 20px;
            float:left;
            h2{
                padding-left:4px;
                font-size: 16px;
                line-height: 36px;
                border-bottom:1px solid #e4e4e4;
                margin-bottom:20px;
                a{
                    color:$T_color;
                }
            }
            .add_left_left{
                float:left;
                width:250px;
                height:412px;
                padding:0 32px 0 10px;
                .title{
                    margin:13px 0 5px 0;
                    font-size: 14px;
                    color:#545454;
                    white-space: nowrap;
                    overflow:hidden;
                    font-weight: bold;
                }
                .article{
                    font-size: $Twelve;
                    color:#999999;
                    a{
                        color:#c80f2f;
                    }
                }
            }
            .add_left_right{
                float:left;
                width:465px;
                height:420px;
                li{
                    width:100%;
                    height:140px;
                    a{
                        img{
                            float:left;
                            margin-right:20px;
                        }
                    }
                    .title{
                        font-size: $Twelve;
                        color:#545454;
                        font-weight: bold;
                        line-height: 36px;
                        span{
                            color:#00a2ff;
                            margin-right:9px;
                        }
                    }
                    .article{
                        font-size: $Twelve;
                        color:#999999;
                        line-height: 22px;
                        a{
                            color:#c80f2f;
                        }
                    }
                }
            }
        }
        .add_right{
            position: relative;
            width:368px;
            height:480px;
            border:1px solid #e4e4e4;
            border-top:2px solid #d0d0d0;
            float:right;
            background:#f9f9f9;
            h2{
                position: absolute;
                top:9px;
                left:-9px;
                width:105px;
                font-size: 16px;
                color:$White;
                height:43px;
                line-height: 36px;
                text-align: center;
                background:url(../img/add_bg.jpg) no-repeat;
            }
            .add_right_ul{
                width:324px;
                padding-top:61px;
                margin:0 22px;
                li{
                    border-bottom:1px dashed #aaaaaa;
                    height:93px;
                    padding-top:11px;
                    .all{
                        float:left;
                        a{
                            display:block;
                            width:224px;
                        }
                        .title{
                            font-size: $Twelve;
                            color:#999999;
                            line-height: 18px;
                            &:hover{
                                color:#c80f2f;
                                text-decoration: underline;
                            }
                            span{
                                color:#c80f2f;
                                font-weight: bold;
                            }
                        }
                        .article{
                            font-size: $Twelve;
                            color:$T_color;
                            font-weight: bold;
                            white-space: nowrap;
                            overflow:hidden;
                            line-height: 29px;
                            margin-top:3px;
                        }
                    }
                    a{
                        overflow:hidden;
                        img{
                            border:1px solid #cccccc;
                            float:right;
                        }
                    }
                }
                .last{
                    border-bottom:none;
                }
            }
        }
    }
}
/*phone*/
.phone{
    width:100%;
    height:150px;
    background:url(../img/phone_bg.png) repeat-x;
    border-bottom:1px solid #e1e1e1;
    margin-bottom:30px;
    padding:25px 0;
    .middle{
        width:$Width;
        margin:0 auto;
        .phone_num{
            width:197px;
            float:left;
            padding:0 43px 0 44px;
            .phone_num_top{
                background:url(../img/All_bg.gif) no-repeat 0 -157px;
                width:197px;
                height:49px;
                .num_top{
                    color: #ff1a3a;
                    padding-left: 72px;
                    font-style: italic;
                    font-weight: bold;
                    padding-top: 8px;
                }
                .num_top1{
                    color: #444;
                    text-align: right;
                    width: 197px;
                    font-size: $Twelve;
                }
            }
            .weibo{
                background: url(../img/phone_weibo.jpg) no-repeat;
                width: 197px;
                line-height: 22px;
                margin-top: 10px;
                font-size: 14px;
                font-weight: bold;
                padding-left: 30px;
                a{
                    img{
                        margin-left:6px;
                    }
                }
            }
            .read{
                margin-top:10px;
                input{
                    width: 132px;
                    height: 24px;
                    line-height: 24px;
                    background: #fff;
                    border: 1px solid #e8e8e8;
                    color: #666;
                    padding-left: 4px;
                    font-size: 12px;
                    outline:none;
                }
                a{
                    display:inline-block;
                    color: #666666;
                    img{
                        vertical-align: top;
                    }
                }
            }
            .ps{
                color: #9b9b9b;
                line-height: 22px;
                padding-left: 3px;
                font-size: $Twelve;
            }
        }
        .howto{
            float: left;
            width: 100px;
            padding-left: 25px;
            border-right: 1px solid #e1e1e1;
            height: 150px;
            dt{
                margin-bottom: 14px;
                a{
                    font-size: 16px;
                    color: #444444;
                }
            }
            dd{
                a{
                    height: 22px;
                    line-height: 22px;
                    color: #999999;
                    font-size: $Twelve;
                }
            }
        }
        .h{
            border-left: 1px solid #e1e1e1;
        }
        .wei{
            padding-top: 11px;
            padding-left: 33px;
            float: left;
            background: url(../img/phone_wei.jpg) no-repeat 30px 104px;
            width: 125px;
            height: 150px;
        }
    }
}
/*foot*/
.foot{
    width:100%;
    height:130px;
    .middle{
        width:880px;
        height:130px;
        margin:0 auto;
        padding:0 160px;
        clear:both;
        border-bottom:1px solid #cccccc;
        .fb{
            width: 140px;
            height: 110px;
            float: left;
            margin: 0 40px;
            dt{
                width: 108px;
                height: 50px;
                margin-bottom: 10px;
                margin-left: 16px;
            }
            dd{
                text-align: center;
                line-height: 20px;
                height: 20px;
                font-size: $Twelve;
                color: #444;
            }
        }
    }
}
/*footer*/
.footer{
    text-align: center;
    line-height: 44px;
    height: 44px;
    font-size: 14px;
    color: #444;
}